[Unit]
Description=Vicinae Launcher Daemon
Documentation=https://docs.vicinae.com
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/vicinae server
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=graphical-session.target
